.section-programacao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.header-programacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header-programacao p {
  text-align: center;
}

.section-programacao .container {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.horarios {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
}

.dia {
  color: var(--white-50);
  background-color: var(--grey-600);
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  font-weight: 700;
  line-height: 150%;
}

.info {
  display: flex;
  height: 100%;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  color: var(--grey-600);
}

.hora {
  display: flex;
  align-items: center;
  gap: 8px;
}

.horario {
  border-radius: 8px;
  display: flex;
  flex:1 1 auto;
  flex-direction: column;
  background-color: var(--white-400);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
