.artigos .container {
  align-items: normal;
  margin: auto;
}

.artigos .content h4 {
  margin-bottom: 4.8rem;
  color: var(--grey-400);
}

.artigos .content .section-artigos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  justify-content: space-between;
  gap: 3.2rem;
}

.artigos .content .artigo {
  width: clamp(25rem, 100%, 35rem);
  display: flex;
  flex-direction: column;
  gap: .8rem;
  transition: translate .25s ease-in-out;
}

.artigos .content .artigo:hover {
  translate: 0 -1rem;
}

.artigos .content .artigo img {
  height: 18rem;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

.artigos .content .artigo * {
  font-size: 1.6rem;
  color: var(--grey-800);
}

.artigos .content .artigo h6 {
  color: var(--grey-400);
}

