.header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: var(--white-50);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

header button {
  border: none;
  background-color: transparent;
  display: none;
}

ul {
  display: flex;
  list-style: none;
}

.menu {
  display: flex;
  position: absolute;
  right: 0px;
  top: 84px;
  width: 312px;
  height: 100vh;
  background-color: var(--blue-600);
}

.menu ul {
  display: flex;
  padding: 24px 0;
  flex-direction: column;
  width: 100%;
}

.menu ul li {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 24px;
  color: var(--white-50);
  width: 100%;
  border-bottom: 1px solid var(--blue-400);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.menu ul li:hover {
  background-color: var(--yellow-600);
  color: var(--white-50);
}

@media (max-width: 1024px) {
  ul {
    display: none;
  }
  header button {
    display: flex;
    width: fit-content;
  }
}
