.card {
  width: clamp(25rem, 100%, 35rem);
  background: var(--blue-50);
  padding: 1.6rem;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  transition: translate 0.25s ease-in-out;
}

.card:hover {
  translate: 0 -1rem;
}

.card img {
  height: 18rem;
  width: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

.card * {
  font-size: 1.6rem;
  color: var(--grey-800);
}

.card h6 {
  color: var(--grey-400);
}
