.localizacao {
  margin-top: 8rem;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.localizacao .content h6 {
  color: var(--grey-300);
}
.localizacao .content h4 {
  color: var(--grey-400);
}

.localizacao .content p a {
  font-size: 1.6rem;
  color: var(--grey-800);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.localizacao .content p a:hover {
  color: var(--grey-200);
}

.localizacao .content span {
  font-size: 1.6rem;
  color: var(--grey-200);
}

.localizacao-whatsapp,
.localizacao-email {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.content-localizacao {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.header-localizacao {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.localizacao .section-localizacao,
.localizacao .section-localizacao .container,
.localizacao .content {
  padding: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .localizacao {
    padding: 3.2rem 0;
  }

  .localizacao .content span {
    font-size: 1.2rem;
  }

  .localizacao-whatsapp,
  .localizacao-email {
    gap: 1.2rem;
  }

  .localizacao .content p a {
    font-size: 1.2rem;
  }
}
