.section-programacao {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.header-programacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.header-programacao h2 {
  text-align: center;
  color: var(--grey-400);
}

.header-programacao p {
  text-align: center;
  color: var(--grey-300);
}

.section-programacao .container {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.horarios {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.2rem;
  width: 100%;
}

.dia {
  color: var(--blue-400);
  background-color: var(--blue-100);
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem 0.8rem 0 0;
  -webkit-border-radius: 0.8rem 0.8rem 0 0;
  -moz-border-radius: 0.8rem 0.8rem 0 0;
  -ms-border-radius: 0.8rem 0.8rem 0 0;
  -o-border-radius: 0.8rem 0.8rem 0 0;
  font-weight: 700;
  line-height: 150%;
}

.info {
  display: flex;
  height: 100%;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 1.6rem;
  color: var(--blue-800);
}

.hora {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.horario {
  width: 592px;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  background-color: var(--blue-50);
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

@media (max-width: 480px) {
  .section-programacao {
    padding: 3.2rem 0;
  }
  .horarios {
    gap: 1.6rem;
  }
}

@media (max-width: 720px) {
  .horario {
    width: 100%;
  }
}
