.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  display: flex;
  width: 100vw;
  height: 8rem;
  justify-content: center;
  align-items: center;
  background-color: var(--white-50);
  border-bottom: 0.1rem solid var(--blue-100);
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header button {
  border: none;
  background-color: transparent;
  display: none;
}

header ul li {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
}

.menu {
  display: flex;
  position: absolute;
  right: 0px;
  top: 8rem;
  width: 31.2rem;
  height: 100vh;
  background-color: var(--blue-600);
}

.menu ul {
  display: flex;
  padding: 2.4rem 0;
  flex-direction: column;
  width: 100%;
}

.menu ul li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  gap: 1.6rem;
  padding: 1.2rem 2.4rem;
  color: var(--white-50);
  width: 100%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.menu ul li a:hover {
  background-color: var(--yellow-600);
  color: var(--white-50);
}

ul li ul.dropdown li {
  color: var(--white-50);
  display: flex;
  align-items: center;
  gap: 1.6rem;
  border-bottom: 0.1rem solid var(--blue-400);
}

ul li ul.dropdown li a {
  color: var(--white-50);
  width: 100%;
  font-weight: 700;
  padding: 1.2rem 2.4rem;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
}

ul li ul.dropdown li a:hover {
  background-color: var(--yellow-600);
}

ul li ul.dropdown {
  width: 28rem;
  position: absolute;
  background-color: var(--blue-600);
  top: 8rem;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown {
  display: block;
}

.links-header {
  padding: 28px 24px;
  gap: 4px;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--blue-600);
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.links-header:hover {
  color: var(--blue-50);
  background-color: var(--blue-600);
}

.links-header .icones {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.links-header:hover .icones {
  filter: invert(100%) sepia(85%) saturate(0%) hue-rotate(179deg)
    brightness(101%) contrast(89%);
}

.links-header:hover .arrow {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.links-header .icones:first-of-type {
  margin: 0 8px 0 0;
}

@media (max-width: 1200px) {
  ul {
    display: none;
  }

  ul li:hover ul.dropdown {
    display: none;
  }

  header button {
    display: flex;
    width: fit-content;
  }

  .menu-responsive .links-header {
    justify-content: space-between;
  }

  .menu-responsive .links-header span {
    gap: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu-responsive .links-header.active {
    background: var(--yellow-600);
  }

  .menu-responsive ul.dropdown {
    position: relative;
    display: none;
    width: 100%;
    padding: 0;
    top: 0;
  }

  .menu-responsive .links-header.active + ul.dropdown {
    display: block;
  }

  .menu-responsive > li {
    border-bottom: 0.1rem solid var(--blue-400);
  }

  .menu-responsive ul.dropdown li:last-child {
    border: 0;
  }

  .menu-responsive .links-header.active .arrow {
    transform: rotate(-180deg);
  }

  .menu-responsive .links-header span .icones {
    filter: none;
  }

  .menu-responsive .links-header .arrow {
    transform: rotate(0deg);
  }
}
