.footer {
  background: var(--blue-600);
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-links {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 4.8rem;
  border-bottom: 0.1rem solid var(--blue-400);
  flex-wrap: wrap;
  gap: 3.2rem;
}

.title-links {
  color: var(--white-400);
  font-weight: 700;
  padding: 0 0 0.8rem 0;
  line-height: 150%;
}

.infos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.infos > div {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  align-items: center;
}

.link-site {
  color: var(--white-400);
  font-weight: 700;
  margin-bottom: 0.4rem;
  line-height: 150%;
}

.info-site {
  color: var(--white-600);
  line-height: 150%;
}

.social-media {
  display: flex;
  gap: 3.2rem;
  justify-content: end;
}

.link-logos {
  padding: 0;
}

.link-logos:hover {
  border: none;
}

.link-logos img {
  transition: 200ms all ease-in-out;
  -webkit-transition: 200ms all ease-in-out;
  -moz-transition: 200ms all ease-in-out;
  -ms-transition: 200ms all ease-in-out;
  -o-transition: 200ms all ease-in-out;
}

.link-logos img:hover {
  opacity: 0.7;
}

@media (max-width: 480px) {
  .links {
    gap: 0.8rem;
    padding-bottom: 2.4rem;
  }
  .title-links {
    padding: 0;
  }
}

@media (max-width: 599px) {
  .links {
    flex-direction: column;
  }

  .infos > div {
    justify-content: center;
  }

  .social-media {
    width: 100%;
    justify-content: center;
  }

  .link-site,
  .info-site {
    text-align: center;
  }

  .footer {
    padding: 3.2rem 0;
  }
}
