.section-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  background: url("../../public/bg-hero.jpg");
  background-size: cover;
  background-position: center;
}

.container div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

button {
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--yellow-400);
  border: none;
  cursor: pointer;
  color: var(--white-50);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

button:hover {
  background-color: var(--yellow-600);
}
