.devocionais .container {
  align-items: normal;
  margin: auto;
}

.devocionais .content h4 {
  margin-bottom: 4.8rem;
  color: var(--grey-400);
}

.devocionais .content .section-devocional {
  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  justify-content: space-between;
  gap: 3.2rem;
}

.devocionais .content .devocional {
  width: clamp(25rem, 100%, 35rem);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  transition: translate 0.25s ease-in-out;
}

.devocionais .content .devocional:hover {
  translate: 0 -1rem;
}

.devocionais .content .devocional img {
  height: 18rem;
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

.devocionais .content .devocional * {
  font-size: 1.6rem;
  color: var(--grey-800);
}

.devocionais .content .devocional h6 {
  color: var(--grey-400);
}
