.musicas .container {
  align-items: normal;
  margin: auto;
}

.musicas .content h4 {
  margin-bottom: 4.8rem;
  color: var(--grey-400);
}

.musicas .content .section-musicas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, max-content));
  gap: 3.2rem;
}

.musicas .content .musica {
  width: max-content;
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem;
  border-radius: 2.4rem;
  border: 1px solid var(--blue-50);
}

.musicas .content .musica div {
  width: 33.3rem;
  gap: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: translate 0.25s ease-in-out;
}

.musicas .content .musica audio {
  border-radius: 20rem;
  height: 5.2rem;
  width: 100%;
}

.musicas .content .musica .div-button {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}

.musicas .content .musica a {
  background: var(--blue-400);
  color: var(--white-50);
  width: max-content;

  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.47rem 1.2rem;
  border-radius: 10rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}
